.DS_Store

# Intellij
.idea/
*.iml
*.iws
*.ipr
*.zip
*.tar
*.gz
*.log
.classpath
.settings
.project
bin/ 
## Additional for IntelliJ
**/build/
build/
target/
schema/
data/
logs/
classes/
out/
repository/out
.gradle/
#gradle/
#gradlew
#gradlew.bat
classes/
LOG_FILE_IS_UNDEFINED